<template>
  <div>
    <!-- Header -->
    <div>
      <!-- Sidebar -->

      <!-- Main Section -->
      <main>
        <!-- Status card -->

        <!-- Customer List -->

        <!-- Sales Chart -->

        <!-- Recent orders -->

      </main>

      <div>
        <!-- Profile info -->

        <!-- Reminders -->
      </div>
    </div>
    <NuxtWelcome />
  </div>
</template>
